# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.VR Beginner The Escape Room.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\zephy\Documents\Work\Unity\VR Beginner The Escape Room\.idea\.idea.VR Beginner The Escape Room\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
